.hotel-btn {
    padding: 0px 6px;
    margin-left: 8px;
    background-color: darkblue;
    font-size: small;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    display: inline-block;
  }
  
  .outlet-container {
    border: 1px solid rgb(230, 220, 220);
    background-color: rgb(243, 245, 248);
    border-radius: 7px;
    width: 600px;
    flex: 4;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
  }
  
  .hotel-list {
    list-style: none;
    padding: 0;
  }
  
  .hotel-list li {
    margin-bottom: 12px;
  }
  
  .hotel-list a {
    color: #333;
    text-decoration: none;
  }
  
  .hotel-list a:hover {
    color: #007bff;
  }
  